<% content_for :background do %>finished<% end %>
<h1 class="large">提交成功！</h1>
<main class="finished">
<p class="message">你的信息已成功提交，待审核后，将成为海科网正式会员，感谢您的参与！</p>
<p class="message follow">
<span>
关注下方海科网指定官方微信“临港海洋高新”，了解更多资讯！
</span>
</p>
</main>
<footer>
<%= image_tag "qr.jpg", class: "wechat qr" %>
<p class="message">长按识别图中二维码关注我们</p>
</footer>