<header class="title animated fadeInDown">
<%= image_tag "logo.png", class: "logo" %>
<br>
<%= image_tag "welcome.png", class: "welcome" %>
</header>
<main class="home animated fadeInDown">
  <p>海科网是专注于海洋产业的综合性产业服务平台，整合上海市、长三角乃至全国海洋科技相关资源，包括：海洋科技成果、科研机构、服务机构、行业企业、专家人才、学协会、高端海洋论坛、产业政策等，未来将构建国内一流、国际领先的海洋科技创新服务公共支撑平台。</p>
  <ul class="items">
    <li>
      <h3>产业资讯：</h3>
      <p>快速了解产业政策与资讯，把握行业风向标！</p>
    </li>
    <li>
      <h3>产品服务：</h3>
      <p>创新提供综合性服务，为事业保驾护航！</p>
    </li>
    <li>
      <h3>热门活动：</h3>
      <p>及时获悉高端精英盛会，抓住海洋新蓝海！</p>
    </li>
    <li>
      <h3>共享资源：</h3>
      <p>搭建资源整合平台，促进信息资源共享！</p>
    </li>
  </ul>
</main>
<footer class="join">
<a href="/registrations/new" class="button animated infinite pulse">加 入<br/>我 们</a>
</footer>